<div class="table-responsive border rounded my-3">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="align-middle">
                @for (column of vehicleFlattenedKeys; track $index) {
                <th>
                    <span data-bs-toggle="modal" [attr.data-bs-target]="'#filter' + column">
                        {{ tcav[column].header }}
                    </span>
                    <div class="modal" id="filter{{ column }}" tabindex="-1">
                        <app-filters [filtersInput]="getFilters(column)" [column]="column"
                            (filtersOutput)="setFilters(column, $event)"></app-filters>
                    </div>
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (vehicle of vehicles; track vehicle.id) {
            <tr (click)="openEditor(vehicle.id)">
                @for (column of vehicleFlattenedKeys; track $index) {
                <td>
                    <!-- handtype -->
                    @switch (column) {
                    @case ("creationDate") {
                    {{ stringFromDate(vehicle[column]) }}
                    }
                    @case ("type") {
                    {{ displayVehicleType[vehicle[column]] }}
                    }
                    @default {
                    {{ vehicle[column] }}
                    }
                    }
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="row align-items-center">
    <div class="col">
        @if (pageInfo.total > 0) {
        <nav>
            <ul class="pagination">
                @if (pageInfo.current > 1 + pagesAmplitude) {
                <li class="page-item">
                    <button class="page-link" (click)="selectPage(1)">&laquo;</button>
                </li>
                }
                @for (page of pagesAround(); track page) {
                <li class="page-item" [class.active]="pageInfo.current == page">
                    <button class="page-link" (click)="selectPage(page)" [disabled]="pageInfo.current == page">{{ page
                        }}</button>
                </li>
                }
                @if (pageInfo.current < pageInfo.total - pagesAmplitude) { <li class="page-item">
                    <button class="page-link" (click)="selectPage(pageInfo.total)">&raquo;</button>
                    </li>
                    }
            </ul>
        </nav>
        }
    </div>
    <div class="form-floating col-12 col-md-6 col-lg-4">
        <input type="number" required min="1" id="elements" class="form-control"
            [class.is-invalid]="pageInfo.elements.invalid" [formControl]="pageInfo.elements">
        <label class="ms-2" for="elements">Количество элементов</label>
    </div>
</div>
<div class="position-fixed end-0 bottom-0 p-2 vstack">
    <button class="m-2 btn btn-outline-primary bg-body border-2 rounded-circle" style="aspect-ratio: 1 / 1;"
        data-bs-toggle="offcanvas" data-bs-target="#sorting">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-down-up"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
        </svg>
    </button>
    <button class="m-2 btn btn-outline-primary bg-body border-2 rounded-circle" style="aspect-ratio: 1 / 1;"
        (click)="pullVehicles()" [disabled]="pageInfo.elements.invalid">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-repeat"
            viewBox="0 0 16 16">
            <path
                d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9" />
            <path fill-rule="evenodd"
                d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z" />
        </svg>
    </button>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="sorting">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sortingLabel">Сортировка</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <app-sorting [sortingInput]="sorting" (sortingOutput)="sorting = $event"></app-sorting>
    </div>
</div>