@media (prefers-color-scheme: light) {
    :root {
        --main-color: #fff5e6;
        --border-color: #fdd8c7;
        --element-color: #ffeadb;
        --dark-element-color: #efa48b;
        --text-color: #32302d;
        --shape-color: #ffd4b6;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #2D2424;
        --border-color: #4d3428;
        --element-color: #2D2424;
        --dark-element-color: #B85C38;
        --text-color: #E0C097;
        --shape-color: #5C3D2E;
    }
}

html {
    font-family: 'Open Sans';
    color: var(--text-color);
    background-color: var(--main-color);
}

fieldset {
    border-color: transparent;
}

/*td, th { border: 2px solid black; }*/

#main-table {
    margin: 0 auto;
}

#coords {
    width: 375px;
    height: 375px;
    margin-right: 50px;
    transition: 0.1s;
}

#coords:hover {
    transform: scale(1.1);
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.tall-cell {
    height: 3em;
}

#result-table {
    margin: 25px auto 0 auto;
    text-align: center;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    font-size: large;
}

#result-table th {
    padding: 2px 45px;
}

button {
    background-color: var(--element-color);
    border: 2px solid var(--border-color);
    border-radius: 12px;
    padding: 8px 12px 8px 12px;
    font-size: large;
    min-width: 25px;
    transition-duration: 0.1s;
    color: var(--text-color);
}

button:hover {
    transform: scale(1.2);
}

button:active {
    transform: scale(0.8);
}

input {
    font-size: large;
    transition: 0.1s;
    color: var(--text-color);
}

input:hover {
    transform: scale(1.2);
}

input:active {
    transform: scale(0.8);
}

input[type="button"] {
    background-color: var(--element-color);
    border: 2px solid var(--border-color);
    padding: 8px 12px 8px 12px;
    min-width: 25px;
    float: left;
}

input[type="button"]:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

input[type="button"]:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

input[type="text"] {
    background-color: var(--main-color);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]:hover {
    transform: scale(1.1);
}

input[type="text"]:active {
    transform: scale(0.9);
}

td label {
    font-size: larger;
}

fieldset {
    padding: 0;
}

#R {
    display: inline-block;
}

input[type="radio"] {
    appearance: none;
    scale: 1.2;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid var(--border-color);
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

input[type="radio"]:checked {
    border: 4px solid var(--border-color);
    background-color: var(--dark-element-color);
}

svg line {
    stroke: var(--text-color);
    stroke-width: 3px;
}

svg polygon {
    fill: var(--text-color);
    stroke: var(--text-color);
}

svg text {
    fill: var(--text-color);
}

.shape {
    fill: var(--shape-color);
    stroke-width: 0;
}

#user-point {
    fill: var(--dark-element-color);
}

#real-point {
    fill: var(--text-color);
}
