#hello {
    font-size: xx-large;
    padding: 1em 1em 1em 1em;
    margin: 0 auto;
    background-color: var(--border-color);
    border-radius: 1em;
    text-align: center;
}

input {
    font-size: x-large;
}